*{
    margin: 0;
    padding: 0;
}
.header-section{
    background-color:#3498db;
    display: flex;
    justify-content: center;
    padding:14px;
}
.header{
    color: white;
    text-align: center;


}

  .textfield-design{
    margin: 10px;
  }
  